<!DOCTYPE html>
<html>
  <a href="{{ absolute_url(asset(''))}}post/create">Create Post</a>
<h3> View Posts </h3>

<table class="table table-striped table-hover">

  <thead>

   <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Action</th>
   </tr>

  </thead>

 <tbody>
   {% for post in posts %}

<tr>
<td>{{post.id}}</td>
<td>{{post.title}}</td>
<td>{{post.description}}</td>
<td>
<a href="{{ absolute_url(asset('')) }}post/view/{{ post.id}}">View</a>
<a href="{{ absolute_url(asset('')) }}post/update/{{ post.id}}">Edit</a>
<a href="{{ absolute_url(asset('')) }}post/delete/{{ post.id}}">Delete</a>
</td>
 </tr>
{% else%}
<tr>
<td>No Records Found! </td>
</tr>
{% endfor%}

</tbody>

</table>
    
</html>
